.mtt-app-label {
  font-size: 25px;
}

.mtt-button {
  box-shadow: none;
  border-radius: 5px;
  border-color: transparent;
}

.mtt-dangerous {
  color: white;
  background: red;
}

.mtt-dangerous * {
  color: white;
}

.mtt-new-app {
  color: white;
  background: green;
}
